<!DOCTYPE html>

<html class="gr__pvp_qq_com">

<head>
    <title>王者荣耀CDKEY兑换</title>




    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <link rel="stylesheet" href="css/loginbox.css" type="text/css" />
    <style>
        /* reset */
        body,div,p,ul,li,table,tbody,tr,td,textarea,form,input,h1,h2,h3,h4,h5,dl,dt,dd,img,iframe,header,nav,section,article,footer,figure,figcaption,menu{margin:0;padding:0;list-style:none;}
        body{font-family:"\5FAE\8F6F\96C5\9ED1",Helvetica;-webkit-user-select:none;-webkit-text-size-adjust:none;font-size:12px;}
        header,nav,section,article,footer,figure,figcaption{display:block;}
        ol,ul{margin:0;padding:0;}
        fieldset{border:none;margin:0;padding:0;}
        a,li,ul,[onclick]{-webkit-tap-highlight-color:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
        table{border-collapse:collapse;border-spacing:0;}
        em,strong{font-weight:normal;font-style:normal;}
        a {text-decoration:none;}

        a:focus{outline:none;}
        img{border: none;}

        .hide {display:none;}
        .c:before,.c:after {content:"";display:table}
        .c:after {clear:both}
        .fl {float:left;}
        .fr {float:right;}
        .pr {position:relative;}
        .c1 {color:#ffdc72;}

        body {background:url(//ossweb-img.qq.com/images/agile/2015/10/23/530289a3c4b29166adb2ee2cf1a70065.jpg) no-repeat 50% 0 #30374b;
            -webkit-background-size:500px auto;
            background-size:500px auto;
        }

        .header {display:block;height:188px;width:320px;margin:0 auto;}
        .footer{width:320px;margin:0 auto;padding:20px 0;text-align:center;font-size:10px;color:#7b7b7b;}

        /* css修改 */
        .login {float:right;height:21px;line-height:21px;text-align:center;color:#eaf4f2;margin-top:8px;}
        .login a{color:#F7DF39;}
        .login a:hover{color:#FCF6CB;}

        .main {width:268px;margin:0 auto;border:1px solid #494949;background-color:#282d4e;padding:20px 15px;}
        .tit1 {width:152px;height:19px;background-position:0 -90px;}
        .mt5 {margin-top:5px;}
        .txt1 {color:#F8F8F8;font-weight:bold;text-align:right;text-shadow:1px 1px 1px #1d1d1d;vertical-align:top;}
        .line1 {}
        .tb1 td {padding:5px 0;}
        .box1 {text-align:center;margin-top:15px;}
        .ipt1 {border:1px solid #5e5e5e;background-color:#fff;color:#626262;padding:0 5px;height:35px;line-height:35px;width:168px;}
        .slt1 {width:180px;padding-left:5px;color:#626262;border:1px solid #5e5e5e;height:35px;line-height:30px;-webkit-appearance:none;
            -webkit-border-radius:0;
            border-radius:0;
        }
        .btn{width:130px;display:inline-block;overflow:hidden;}
        .btn img{width:130px;}
        .box-slt {position:relative; background-color:#fff;}
        .box-slt:after{content:'';position:absolute;top:13px;right:15px;width:0px;height:0px;-webkit-transform:rotate(45deg);border-left:5px solid transparent;box-shadow:1px 1px 0 #4e4e4e;-webkit-box-shadow:1px 1px 0 #4e4e4e;pointer-events:none;}

        /**/

    </style>
<body data-gr-c-s-loaded="true">
<div class="hide" type="tpos" data-layoutpos="layout.pos.1" data-title="请拖动一个空模块到这里">$layout.pos.1$</div>
<div class="header">
    <h1 class="hide">CDKEY兑换中心</h1>
</div>
<div class="main">
    <div class="line1">
        <table class="tb1">
            <tbody><tr id="roleSelectorPanel">

            </tr>
            <tr>
                <td class="txt1">输入CDKEY：</td>
                <td>
                    <input class="ipt1" type="text" name="" id="exchangeCDKeyValue">
                </td>
            </tr>
            <tr>
                <td class="txt1">请输入验证码：</td>
                <td>
                    <input class="ipt1" type="text" name="" id="verifyCode">
                </td>
            </tr>
            </tbody></table>
    </div>
    <p class="box1">
        <a class="btn" id="loginBtn" style="margin-left:30px;" href="/qqlogin" id="cdkChangeBtn">
            <img src="//ossweb-img.qq.com/images/agile/2015/8/18/a332b27d197e8b082540e16df9d33889.png">
        </a>
    </p>
</div>
<div class="footer">
    <p>COPYRIGHT © 1998 – 2017 TENCENT. ALL RIGHTS RESERVED.</p>
    <p>腾讯公司 版权所有</p>
</div>

<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
</script>
</body>
</html>